.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: Arial, sans-serif;
    /* background-color: black; */
    overflow: hidden;
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .formContainer {
    background-color: white;
    padding: 40px;
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-right: 40vw;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transform: translateX(50%);
    
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 1.5rem;
    border: 1px solid #ccc;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.856);
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: black;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .switchForm {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .switchButton {
    background-color: transparent;
    border: none;
    color: #4285f4;
    cursor: pointer;
    text-decoration: underline;
  }
  .design{
    background-color: black;
    /* height: 100%; */
    z-index: 0;
    /* width: 10%; */
    color: white;
    text-align: center;
  }
  .designGood{
    background-color: black;
    /* height: 100%; */
    z-index: 0;
    /* width: 10%; */
    color: white;
    text-align: center;
    transform: rotate(180deg);
  }
  .svg{
    /* height: 100%; */
    background-color: white;
    position: relative;
    float: right;
    left: 0;
  }
  .text{
    position: relative;
    top: 50em;
    left: -20px;
    z-index: 100;
  }
  @media  screen and (max-width:550px) {
    .design, .designGood{
        display: none;
    }
    .formContainer{
        margin-right: 0;
        transform: translateX(0%);
    }
    .container{
        justify-content: center;
    }
  }