.nav{
    font-family: "Poppins";
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    gap: 2rem;
    user-select: none;
    z-index: 999999;
    border-bottom: 1px solid darkgray;

}
.logo{
    display: flex;
    flex-grow: 0;
    cursor: pointer;
}
.nav a {
    text-decoration: none;
    color: black;

}
.navLinks{
    margin-left: 1rem;
}
.category:hover{
    cursor: pointer;
    
}

.aLinks> a:last-child{
    color: #fd004c;

}
.searchBar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: .125rem;
    border-radius: 2rem;
    font-size: 1rem;
    justify-content: space-between;
    background-color: white;
    
}
.searchBar input{
    outline: none;
    border: 0;
    width: 100%;
    margin-left: 5px;

}
.before{
    padding: 3px;
    /* border: 1px solid black; */
    font-size: .9rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff820,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd084c
    );
}


.icon{
    background: white;
    color: black;
    padding: .5rem;
    font-size: .9rem;
    border-radius: 1.5rem;
    cursor: pointer;
    text-align: center;
}
.icon a{
    margin-left: 0;
}
.icon a:hover{
    color: white;
    background-color: black;
}
.icon:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
}
.searchIcon{
    margin-left: .5rem;
    margin-right: .5rem;
}
.seachBack{
    padding: .25rem;
    padding-bottom: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 1rem;

}
.seachBack:hover{
    background-color: gray;
    transition: all ease-in-out 0.3s;
}
.before:hover{
    background: conic-gradient(
        #fd084c,
        #fd004c,
        #fe9000,
        #fff820,
        #3edf4b,
        #3363ff,
        #b102b7
        
        );
        padding: .25rem;
        transition: all .3s ease-in-out;
    }

.hamburger{
    display: none;
    margin-right: .25rem;
}
.hamIcon:hover{
    color: gray;
}
@media screen and (max-width: 1015px) {
    
    .aLinks{
        display: none;
    }
    .searchBar{
        flex-grow: 2;
        max-width: 40vw;
    }
    .hamburger{
        display: inline;
        /* position: absolute; */
        left: 1rem;
        cursor: pointer;
    }
    .category{
        display: none;
    }
  }
  @media screen and (max-width: 600px) {
   
    .before{
        display: none;
    }
  }
  @media screen and (max-width: 735px) {
   
    .cart{
        display: none;
    }
  }
  @media screen and (max-width: 400px) {
    
    .searchBar{
        display: none;
    }
    .nav{
        justify-content: space-between;

    }
  }
  .navLinks:active{
    color: gray;
  }
  .cart{
    cursor: pointer;
    position: relative;
  }
  .cartIcon{
    width: 2rem;
    height: 2rem;
  }
  .badge{
    height: 1.25rem;
    width: 1.25rem;
    font-size: .75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: #fd004c;
    padding: 0rem;
    border-radius: 50%;
  }
  .cartIconDiv{
    padding: .5rem;
  }